.main-header {
	margin: 0 auto;
	width: 100%;
	margin-bottom: 80px;
	position: relative;
}

.main-header__heading {
	text-align: center;
	font-size: 18px;
	line-height: 18px;
	padding-top: 5.5px;
	margin-right: auto;
	transition: opacity 0.5s, color 0.5s;
}

.main-header__heading--opened {
	opacity: 0;
	color: transparent;
//	margin-left: -0.9px;
}

.main-header__header-wrapper {
	width: 360px;
	min-height: 63px;
	overflow: hidden;
	position: fixed;
	top: 0;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	z-index: 1;
	background: #ffffff;
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.15);	
}



.main-header__logo {
	padding-top: 10px;
	margin-left: 15px;
	margin-right: 20.5px;
	z-index: 1;
}

.main-header__nav-icon-wrapper {
	display: flex;
	flex-direction: column;
	margin-top: 10px;
	margin-right: 15px;
	cursor: pointer;
	transform: translateY(0px);
	transition: opacity 0.3s, z-index 0.3s, translateY 1s ease-in-out;
}

/*.main-header__nav-icon-wrapper:hover {
	color: lighten(black, 40%);
}*/
.main-header__nav-icon-wrapper:hover svg path{
	fill: lighten(black, 40%);

}
.main-header__nav-cross:hover line {
		stroke: lighten(black, 40%);
}

.main-header__nav-cross {
	display: none;
	opacity: 0;
	z-index: 0;
	width: 45px;
	height: 45px;
	margin-top: 5px;
	margin-right: 10px;
	cursor: pointer;
	transition: opacity 0.3s, z-index 0.3s, display 0.3s;
}

.main-header__nav-description {
	font-size: 12px;
	line-height: 2px;
}

.main-header__nav-toggle-input {
	display: none;
}

.main-header__nav-toggle-input:checked + .main-header__nav-toggle .main-header__nav-icon-wrapper {
	opacity: 0;
	z-index: 0;
	transform: translateY(56px);
	display: none;
}

.main-header__nav-toggle-input:checked + .main-header__nav-toggle .main-header__nav-cross {
	opacity: 1;
	z-index: 1;
	display: block;
}


.main-header__nav {
	@include list-style;
	font-family: 'Roboto Bold';
	//display: none;
	font-size: 18px;
	line-height: 18px;
	width: 100vw;
	height: 0vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	opacity: 0;
	transition: opacity 0.5s, height 1.5s;
}

.main-header__nav-item {
	cursor: pointer;
	margin: 15px;
	&--squid {
		margin-left: 43px;
		margin-bottom: 100px;
	}
}

.main-header__nav-link {
	color: #000000;
    text-decoration: none;
}

.main-header__nav-link:hover {
	color: lighten(black, 40%);
}

.main-header__nav-toggle-input:checked ~ .main-header__nav {
	//display: block;
	opacity: 1;
	height: 100vh;
	transition: opacity 1.5s, height 1s;
}

.main-header__sub-nav {
	margin: 10px;
	margin-left: 100px;
	text-align: left;
//	display: none;
}



.main-header__sub-item {
	cursor: auto;
	&--squid {
		font-size: 10px;
		line-height: 14px;
		font-weight: 300;
	}
}

.main-header__sub-link {
 	font-family: 'Roboto Regular';
	font-size: 12px;
	line-height: 16px;
	color: #797979;
	text-align: left;
	&--squid {
		font-family: 'Roboto Bold';
		font-size: 10px;
		line-height: 14px;
		font-weight: bold;
		color: #000000;
	}
 }

.main-header__sub-link {
	&:hover {
		color: black;
	}
	&--squid:hover {
		color: lighten(#000000, 40%);
	}
}

.main-header__nav-fish {
	display: none;
}

@media (min-width: 1800px) {
	.main-header {
		width: auto;
		padding: 0 150px;
		margin-top: 54px;
		margin-bottom: 0;
	}
	.main-header__heading {
		@include visually-hidden;
	}
	.main-header__header-wrapper {
		width: 100%;
		position: static;
		justify-content: space-between;
		box-shadow: none;
		background: transparent;
		overflow: visible;
		@include reset;
	}
	.main-header__logo {
		width: 59px;
		height: 59px;
		margin: 0;
		margin-top: -5px;
	}

	.main-header__nav-icon-wrapper {
		margin: 0;
		margin-top: 4px;
		align-items: center;
	}

	.main-header__nav-burger {
		width: 42.5px;
		height: 29px;
	}

	.main-header__nav-cross {
		width: 74px;
		height: 74px;
		margin-top: -9px;
		margin-right: -14px;
	}

	.main-header__nav-description {
		line-height: 6px;
		font-size: 16px;
	}

	.main-header__nav {
		flex-direction: row;
		align-items: flex-start;
		justify-content: flex-start;
		@include reset;
		position: relative;
	}

	.main-header__nav-item {
		@include reset;
		margin-top: 204px;
		position: relative;
		&--herrings {
			margin-left: 290px;
			margin-right: 261px;
		}
		&--sturgeon {
			margin-right: 202px;
		}

	}

	.main-header__nav-link {
		font-family: 'Roboto Bold';
		line-height: normal;
		font-size: 48px;
		&--squid {
			position: relative;
			&::after {
				content: "";
				position: absolute;
				width: 105px;
				height: 4px;
				background: #01E0FF;
				bottom: -1px;
				left: 0;
			}
		}
	}

	.main-header__sub-nav {
		@include reset;
		padding-top: 19px;
		&--squid {
			padding-top: 26px;
		}
	}

	.main-header__sub-item {
		padding-bottom: 8px;
		&--squid {
			font-size: 12px;
			line-height: 16px;
		}
	}

	.main-header__sub-link {
		font-family: 'Roboto Regular';
		line-height: normal;
		font-size: 14px;
		text-decoration: none;
		&--squid {
			font-family: 'Roboto Bold';
			font-size: 12px;
			line-height: 14px;
			font-weight: 700;
		}
	}
	
	.main-header__nav::after {
		position: absolute;
		content: '';
		width: 1px;
		background: #E5E5E5;
		height: 250vh;
		top: -29%;
		right: 12.3%;
	}

	.main-header__nav-item {
		&::before {
			position: absolute;
			content: '';
			width: 1px;
			background: #E5E5E5;
			height: 250vh;
			top: -550%;
		}
		&--herrings::before {
			left: -57%;
		}
		&--sturgeon::before {
			left: -68%;
		}
		&--squid::before {
			left: -37%;
		}
	}
	.main-header__nav-fish {
		display: block;
		margin-left: 167px;
		margin-top: 740px;
		&-text {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			font-family: 'Open Sans';
			font-size: 14px;
			line-height: 19px;
			font-weight: 400;
			text-align: right;
			&--bold {
				font-weight: bold;
			}
			&::before {
				content: "";		
				position: absolute;
				background-image: url(../img/fishes-big.svg);
				background-repeat: no-repeat;
				width: 62px;
				height: 62px;
				left: 5px;
				top: 739px;
				transition: transform 1s;
			}
		}	
	}

	.nicescroll-rails div {
		background: red;
	}
}