.main {

}

.main__header {
	font-size: 18px;
	line-height: 20px;
	text-transform: uppercase;
	font-weight: 700;
	padding-left: 5px;
	width: 78%;
	margin-top: -1px;
}

.main__description {
	font-size: 14px;
	line-height: 16px;
	padding-left: 5px;
	width: 78%;
	margin-bottom: 67px;
}

@media (min-width: 1800px) {
	.main__header-wrapper {
		margin: 0 auto;
		display: flex;	
		justify-content: space-between;
		width: 72.35%;
		margin-top: -65.5px;
	}

	.main__header {
		font-weight: 700;
		line-height: 40px;
		font-size: 36px;
		width: 39%;
	}

	.main__description {
		@include reset;
		font-weight: 400;
		line-height: normal;
		font-size: 18px;
		width: 33%;
		margin-top: -2px;
		margin-right: 160px;
	}
}